# Python
.venv
__pycache__
ktem_app_data

# Testing
/coverage

# Build outputs
/.next/
/out/
/build/
/dist/
.vinxi
.output
.react-router/
.tanstack/
.nitro/

# Environment & local files
.env*
!.env.example
.DS_Store
*.pem
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Other
dev-dist

